/* Header */
a:hover{
    text-decoration: none;
}
header{
    background: #f6f9f9;
    padding: 30px 0;
}
.logo{
    padding: 6px 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #454444;
    text-transform: capitalize;
}
.menu ul li a{
    padding: 6px 20px;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #454444;
    text-transform: capitalize;
}